@import url('main.css');
#app{width: 650px;height: auto;height: 90%;}
/* overview */
.overview{flex-direction: column; color: #fff; height: 100%; justify-content: center; display: flex;}
.overview img{width: 400px;object-fit: cover;}
.overview h3{font-size: 59px; margin-block-start: 24px;}
.overview p{font-size: 19px; color: gray;}
.overview button{margin-block-start: 34px;}

/* main */
.main{color: #fff; justify-content: center; padding: 34px; flex-direction: column; gap: 38px; display: none;}
.main_header{text-align: center;}
.main img{width: 244px; height: 244px; object-fit: contain;}
.main_header div p{font-size: 56px; font-weight: 600; color: #fff;}
.main_header div svg{width: 58px; color: #9fc2ff;}
.main_header p{color: gray;}
.main h1{font-size: 72px; font-weight: 600;}
.main a{color: #fff;}

/* options_box */
.options_boxes{width: 80%; gap: 20px; flex-wrap: wrap; justify-content: center;}
.option{background: #202B3B; padding: 19px; border-radius: 24px; width: 45%;}
.option h4{color: gray; margin-block-end: 14px; text-transform: uppercase; font-size: 14px;}
.option h2{font-size: 30px;}
/* search_form */
.search_form{color: #fff; padding: 34px; display: none;}
.search_form h3{font-size: 28px; color: gray;}
.search_inps{margin-block-start: 14px;}
.search_inps input{background: #202B3B; color: #fff; width: 88%; height: 56px; font-size: 16px; padding: 0px 12px; border-radius: 12px 0px 0px 12px; border: none; }
.search_inps button{width: 12%;height: 56px; border-radius: 0px 12px 12px 0px; border: none; cursor: pointer; background: #7ba5ec;}
.search_inps button:hover{background: #9fc2ff;}
.search_inps button svg{width: 24px; }
.search_history{margin-block-start: 24px; display: none;}
.history_container{flex-direction: column; width: 100%; align-items: inherit; gap: 26px;}
.history_card{background: #202B3B; padding: 24px; border-radius: 19px; justify-content: space-between; cursor: pointer;}
.history_card:hover{opacity: 0.9;}
.history_card h4{font-size: 26px;}
.history_card p{font-size: 16px; color: gray;}
.history_card h2{font-size: 46px;}
.search_history_content{margin-block-end: 14px; justify-content: space-between;}
.search_history h5, .search_history_content p{color: gray; font-size: 14px;}
.search_history_content p{color: #bf4040; cursor: pointer;}

@media screen and (max-width: 680px) {
    #app{
        width: 90%;
    }
    .overview img{width: 300px;}
    .overview h3{font-size: 52px;}
    .overview p{font-size: 16px;}
    .btn-primary{padding: 10px 15px;}
    /* main */
    .options_boxes{align-items: normal; width: 100%;}
    .option{width: 46%;}
}

@media screen and (max-width: 470px) {
    .main, .search_form{padding: 0;}
    .main_header div svg{width: 50px;}
    .main_header div p{font-size: 48px;}
    .main img{width: 200px; height: 200px;}
    .option h2, .search_form h3{font-size: 24px;}
    .main a{padding-bottom: 10px;}
    .search_inps input{width: 85%;}
    .search_inps button{width: 15%;}
}