@import url('main.css');
#app{
    width: 650px;
    height: auto;
    height: 90%;
}
/* overview */
.overview{flex-direction: column; color: #fff; height: 100%; justify-content: center; display: none;}
.overview img{width: 400px;object-fit: cover;}
.overview h3{font-size: 59px; margin-block-start: 24px;}
.overview p{font-size: 19px; color: gray;}
.overview button{margin-block-start: 34px;}

/* main */
.main{color: #fff; justify-content: center; padding: 34px; flex-direction: column; gap: 38px;}
.main_header{text-align: center;}
.main_header div p{font-size: 56px; font-weight: 600; color: #fff;}
.main_header div svg{width: 58px; color: #9fc2ff;}
.main_header p{color: gray;}
.main h1{font-size: 72px; font-weight: 600;}

/* options_box */
.options_boxes{width: 80%; gap: 20px; flex-wrap: wrap; justify-content: center;}
.option{background: #202B3B; padding: 19px; border-radius: 24px; width: 45%;}
.option h4{color: gray; margin-block-end: 14px; text-transform: uppercase; font-size: 14px;}
.option h2{font-size: 30px;}